body {
}

[n-access-order]:focus {
    outline: none !important;
}

[n-access-order] :hover {
    cursor: pointer;
}

#n-nav {
    background-color: #462d62;
    color: #ffffff;
}

    #n-nav li.active a {
        background-color: #ffffff;
    }

    #n-nav li.active a {
        color: #462d62;
    }


#n-container {
    margin-top: 75px;
    position: relative;
}

#welcome-text {
    padding:20px;

}

.n-hack-node {
    outline: 2px dotted #000000 !important;
    background-color: transparent;
    position: absolute;
}

.n-item {
    /*width: 250px;*/
    margin: auto;
    position: relative;
}

.n-hide {
    opacity: 0;
    z-index: -1;
}

.n-show {
    opacity: 1;
    background-color: transparent;
    z-index: 100;
}
