body {
}
*:focus {
    outline: -webkit-focus-ring-color auto 5px;
}
#n-container {
    margin-top: 55px;
    outline: 1px solid red;
    position: relative;
}

.n-hack-node {
    outline: 2px dotted #808080 !important;
    position: absolute;
}

.n-item {
    height: 250px;
    width: 250px;
    margin: auto;
    position: relative;
    outline: 1px solid red;
}

.n-hide {
    opacity: 0;
    z-index: -1;
}

.n-show {
    opacity: 1;
    z-index: 100;
}
